// /*Huge thanks to @tobiasahlin at http://tobiasahlin.com/spinkit/ */
// .spinner {
//   margin: auto;
//   width: 100%;
//   text-align: center;
//   height: 100%;
//   position: absolute;
//   top: 0;
//   z-index: 10;
//   background: rgba(0, 0, 0, 0.2);
//   padding-top: 20%;
// }

// .spinner > div {
//   width: 18px;
//   height: 18px;
//   background-color: #333;

//   border-radius: 100%;
//   display: inline-block;
//   -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
//   animation: sk-bouncedelay 1.4s infinite ease-in-out both;
// }

// .spinner .bounce1 {
//   -webkit-animation-delay: -0.32s;
//   animation-delay: -0.32s;
// }

// .spinner .bounce2 {
//   -webkit-animation-delay: -0.16s;
//   animation-delay: -0.16s;
// }

// @-webkit-keyframes sk-bouncedelay {
//   0%,
//   80%,
//   100% {
//     -webkit-transform: scale(0);
//   }
//   40% {
//     -webkit-transform: scale(1);
//   }
// }

// @keyframes sk-bouncedelay {
//   0%,
//   80%,
//   100% {
//     -webkit-transform: scale(0);
//     transform: scale(0);
//   }
//   40% {
//     -webkit-transform: scale(1);
//     transform: scale(1);
//   }
// }


.spinner-icon {
    padding-top: 20%;
}

.spinner-icon  .spinner-border {
    border: 16px solid #fff; /* Light grey */
    border-top: 16px solid #1976d2; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
        -ms-animation: spin 2s linear infinite;
           animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}